form div{
  display: flex;
  margin: 2px;
}

input[type="checkbox"] {
  margin-right: 10px; /* Espacio entre el checkbox y la etiqueta */
  
  margin-top: -5px;
}

/* Estilos para la etiqueta del checkbox */
label {
  color: #555;
  cursor: pointer; /* Cambia el cursor al pasar sobre la etiqueta */
}